on boot
    # Google Key
    write /sys/devices/platform/soc/soc:asustek_googlekey/googlekey_enable 1

    # Chown node for Smart_Charging
    chown system system /sys/class/power_supply/battery/input_suspend

    # FPS Info
    chown system graphics /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/sde-crtc-0/measured_fps
    chmod 0666 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/sde-crtc-0/measured_fps

    setprop ro.product.device "" 