on boot
    # Google Key
    write /sys/devices/platform/soc/soc:asustek_googlekey/googlekey_enable 1

    # Chown node for Smart_Charging
    chown system system /sys/class/power_supply/battery/input_suspend